@model NTTDATA_Web.Models.Employee
@{
    ViewBag.Title = "Employee Details";
}
<div>
    <h4>Employee Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Emp Code
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Code)
        </dd>
        <dt>
            First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Employee_Code }) |
    @Html.ActionLink("Back to List", "Dashboard")
</p>
